//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

$headings-color:          #FF0000 !default;

h1 a, 
h3 a {
 
  color: $headings-color;
  text-decoration: none;
  font-weight: bold;
}